* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*background-color: #1e1f26;*/
  color: white;
}
:focus {
  outline: none;
}
body {
  background: rgb(11, 20, 39);
}
/* ==-====-===-==== */

.container {
  width: 100%;
  height: auto;
}

.box {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: rgb(104, 102, 102);
  margin: 0 auto;
  box-shadow: 0 2px 33px rgba(0, 0, 0, 0.77);
  z-index: 1;
}

.search-bar {
  width: 55%;
  margin: 0 auto;
  line-height: 80px;
  position: relative;
}

input[type="text"] {
  width: 89%;
  height: 33px;
  padding: 0 10px;
  color: #000;
  border: 1px solid #bebebe;
  border-radius: 2px 0 0 2px;
  z-index: 2;
}

input:focus {
  border: 1.1px solid #1c62b9;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
}

button {
  position: absolute;
  width: 11%;
  height: 33px;
  border: 1px solid #bebebe;
  border-left: 0;
  top: 24px;
  right: 0;
  border-radius: 0px 2px 2px 0;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  background-color: #c4c1c1;
  z-index: 1;
}

button i {
  opacity: 1.5;
  transition: all 0.07s ease-in-out;
}

button:hover i {
  opacity: 0.5;
}

button:hover {
  background-color: #838282;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 2px rgba(0, 0, 0, 0.05);
  transition: all 0.07s ease-in-out;
}

.grid_box {
  margin: auto;
  margin-top: 90px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 200px 200px 200px 200px 200px;
  grid-gap: 10px;
  padding: 20px;
}
